@{
    ViewBag.Title = "Register";
    Layout = ViewBag.Layout;
}

@section styles{
    <style>

        .dx-menu-item-content span {
            margin-right: 5px;
        }

        .dx-menu-item-has-submenu .dx-icon-spinright {
            position: absolute;
            top: 7px;
            right: 2px;
        }

        .item-badge {
            text-align: center;
            float: left;
            margin-right: 12px;
            color: white;
            width: 18px;
            height: 18px;
            font-size: 19.5px;
            border-radius: 18px;
            margin-top: 2px;
        }

        .first-group,
        .second-group {
            padding: 20px;
        }

        .second-group {
            background-color: rgba(191, 191, 191, 0.15);
        }

        .add-popup-area {
            margin-top: 20px;
        }

        .multiview-item {
            margin: 25px;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            border-top: 1px solid lightgray;
            border-bottom: 1px solid lightgray;
            padding: 20px 0 30px;
        }

            .multiview-item > div {
                padding-top: 20px;
            }

        .add-popup-area > div:first-child {
            padding-left: 25px;
        }

        .add-popup-area p,
        .add-popup-area h1 {
            margin: 0;
        }

        .multiview-item-buttons-group {
            float: right;
            margin-right: 25px;
        }

        .multiview-item-confirmation-items {
            font: 16px sans-serif;
            font-weight: bold;
        }

        /*
        #imgQR {
          width:80px;
          height:80px;
        }
        */
    </style>
}

<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-calendar-check-o"></i> <a>Register</a>
        </li>
    </ul>
    <div class="page-toolbar">
        <div class="btn-group pull-right">
            <button type="button" class="btn btn-fit-height grey-salt dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
                Actions <i class="fa fa-angle-down"></i>
            </button>
            <ul class="dropdown-menu pull-right" role="menu">
                <li>
                    <a data-toggle="modal" href="#uploaddiv" class="btn default">Upload Forms</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div id="Context">
    <div id="add-popup"></div>
    <div class="row">
        <div class="container">
            <div id="context-menu"></div>
            <div id="appointment-context-menu"></div>
            <div id="scheduler"></div>
        </div>
    </div>

    <div class="modal fade bs-modal-lg" id="uploaddiv" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">Upload File</h4>
                </div>
                <div class="modal-body">
                    <div id="file-uploader"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/html" id="mv-dialog">
    <div class="multiview-item">
        <h3>Member Phone not found. Create one now?</h3>
    </div>
    <div>
        <p>
            <div class="multiview-item-buttons-group">
                <span><button type="button" class="btn default multiview-item-button-next" onclick="RegisterUtils.multiview_select(1);">Next</button></span>
            </div>
        </p>
    </div>
</script>
<script type="text/html" id="mv-form">
    <div class="multiview-item">
        <h3>Enter all details below</h3>
        <div>
            <p>
                <div id="new-member-form" class="dx-form" style="margin-bottom: 10px;"></div>
            </p>
        </div>
    </div>
    <div>
        <p>
            <div class="multiview-item-buttons-group">
                <span><button type="button" class="btn default multiview-item-button-back" onclick="RegisterUtils.multiview_select(0);">Back</button></span>
                <span><button type="button" class="btn default multiview-item-button-next" onclick="RegisterUtils.multiview_select(2);">Next</button></span>
            </div>
        </p>
    </div>
</script>
<script type="text/html" id="mv-confirmation">
    <div class="multiview-item">
        <h3>Confirm Review the details below</h3>
        <div>
            <p>
                Name:
                <div id="mv-confirm-name" class="multiview-item-confirmation-items"></div>
            </p>
            <p>
                Phone:
                <div id="mv-confirm-phone" class="multiview-item-confirmation-items"></div>
            </p>
            <p>
                Email:
                <div id="mv-confirm-email" class="multiview-item-confirmation-items"></div>
            </p>
        </div>
        <br />
        <div>
            <p>
                <div id="mv-confirm-checkin"></div>
            </p>
            <p>
                <div id="mv-confirm-email"></div>
            </p>
        </div>
    </div>
    <div>
        <p>
            <div class="multiview-item-buttons-group">
                <span><button type="button" class="btn default multiview-item-button-back" onclick="RegisterUtils.multiview_select(1);">Back</button></span>
                <span><button type="button" class="btn blue multiview-item-button-save" onclick="RegisterUtils.fSubmitNewMember();">Save</button></span>
            </div>
        </p>
    </div>
</script>

@Html.Hidden("initurl", Url.Action("LoadAll", "Register", new { area = "AdministrationPage" }))
@Html.Hidden("uploadurl", Url.Action("UploadForms", "Register", new { }))
@Html.Hidden("regurl", Url.Action("RegisterMember", "Register", new { }))
@Html.Hidden("detailgridurl", Url.Action("JoinersDetails", "Register", new { id = "{PARAM1}" }))
@section scripts{
    <script src="~/Scripts/qrcode/qrcode.min.js" type="text/javascript"></script>
    <!--<script src="~/Scripts/global/DevDXForm.js"></script>-->
    <script src="~/Areas/AdministrationPage/Scripts/register.js"></script>

}



