<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="TGF_IntegrationEntities" connectionString="metadata=res://*/EF.TGF_Integration.csdl|res://*/EF.TGF_Integration.ssdl|res://*/EF.TGF_Integration.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TAPDBCND04.tollgroup.local\DEV;initial catalog=TGF_Integration;persist security info=True;user id=sa;password=yoj829IE;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DI_WK_TEMPEntities" connectionString="metadata=res://*/EF.DI_WK_TEMP.csdl|res://*/EF.DI_WK_TEMP.ssdl|res://*/EF.DI_WK_TEMP.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SAPDBAUT001.tollgroup.local;initial catalog=DI_WK_TEMP;persist security info=True;user id=tgfdataserv;password=yoj829IE;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DCT_MangementEntities" connectionString="metadata=res://*/EF.DCT_Mangement.csdl|res://*/EF.DCT_Mangement.ssdl|res://*/EF.DCT_Mangement.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tapdbcnd04\dev;initial catalog=DCT_Mangement;persist security info=True;user id=tgf_bim;password=ka1368tt;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>