<!DOCTYPE html>

<html lang="en">
<head>
    <title>Membership Control | @ViewBag.Title</title>
</head>
<body >
    <div class="logo">
        <img src="~/Content/assets/global/img/membership_logo_with_slogan.png" />
        <br />
        <h3>Membership Control</h3>
    </div>
    <div class="menu-toggler sidebar-toggler">
    </div>
    <div class="content">
    </div>
    <div class="copyright">
        2018 &copy;  Membership Control System
    </div>

    You have logged off!
</body>
</html>

