@model Core.Services.DTO.Generic.NavbarViewModel
@{
    ViewBag.Title = "Membership Control";
    Layout = ViewBag.Layout;
}
@section styles
{
    <style>
        .visual > i {
          color: #FFFFFF;
          opacity: 0.2;
          filter: alpha(opacity=10);
        }

        .more {
            color: #FFFFFF;
        }

        .portlet :last-child .dashboard-stat {
            margin-bottom: 10px;
        }

        .dashboard-stat .details .number {
            font-size: 15px;
            color: #FFFFFF;
        }

        .dashboard-stat .details .desc {
            font-size: 9px;
            color: #FFFFFF;
        }
    </style>
}
<h3 class="page-title">
    Welcome to Membership Control
</h3>

<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="portlet">
            <div class="portlet-body">

            </div>
        </div>
    </div>
</div>