

@{
    ViewBag.Title = "View1";
    Layout = ViewBag.Layout;
}


<div class="alert alert-warning">
    <h4><i class="fa fa-warning"></i> ACCESS DENIED</h4>
    <div>You are restricted to this action: <span id="permissionMessage" style="font-size: 120%; font-style: italic"> </span></div>
    
    Please check with your administrator.
</div>
