div.DTED_Lightbox_Wrapper {
  position: fixed;
  top: 0;
  left: 50%;
  margin-left: -390px;
  width: 780px;
  height: 100%;
  z-index: 11;
}
div.DTED_Lightbox_Wrapper div.DTED_Lightbox_Container {
  *position: absolute;
  /* IE6 */
  *top: 50%;
  #position: absolute;
  /* IE7 */
  #top: 50%;
  display: table;
  height: 100%;
  width: 100%;
}
div.DTED_Lightbox_Wrapper div.DTED_Lightbox_Container div.DTED_Lightbox_Content_Wrapper {
  *position: relative;
  /* IE6 */
  #position: relative;
  /* IE7 */
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}
div.DTED_Lightbox_Wrapper div.DTED_Lightbox_Container div.DTED_Lightbox_Content_Wrapper div.DTED_Lightbox_Content {
  *top: -50%;
  /* IE6 */
  #top: -50%;
  /* IE7 */
  position: relative;
  border: 7px solid rgba(220, 220, 220, 0.5);
  box-shadow: 2px 2px 10px #555;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
div.DTED_Lightbox_Wrapper div.DTED_Lightbox_Container div.DTED_Lightbox_Content_Wrapper div.DTED_Lightbox_Content div.DTE {
  background: white;
  border-radius: 6px;
  box-shadow: 0 0 5px #555;
  border: 2px solid #444;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
div.DTED_Lightbox_Wrapper div.DTED_Lightbox_Container div.DTED_Lightbox_Content_Wrapper div.DTED_Lightbox_Content div.DTE div.DTE_Header {
  top: 2px;
  left: 2px;
  right: 2px;
  width: auto;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
div.DTED_Lightbox_Wrapper div.DTED_Lightbox_Container div.DTED_Lightbox_Content_Wrapper div.DTED_Lightbox_Content div.DTE div.DTE_Footer {
  bottom: 2px;
  left: 2px;
  right: 2px;
  width: auto;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
div.DTED_Lightbox_Wrapper div.DTED_Lightbox_Container div.DTED_Lightbox_Content_Wrapper div.DTED_Lightbox_Content div.DTED_Lightbox_Close {
  position: absolute;
  top: -11px;
  right: -11px;
  width: 22px;
  height: 22px;
  border: 2px solid white;
  background-color: black;
  text-align: center;
  border-radius: 15px;
  cursor: pointer;
  z-index: 12;
  box-shadow: 2px 2px 6px #111;
}
div.DTED_Lightbox_Wrapper div.DTED_Lightbox_Container div.DTED_Lightbox_Content_Wrapper div.DTED_Lightbox_Content div.DTED_Lightbox_Close:after {
  content: '\00d7';
  color: white;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  font-family: 'Courier New', Courier, monospace;
  padding-left: 1px;
}
div.DTED_Lightbox_Wrapper div.DTED_Lightbox_Container div.DTED_Lightbox_Content_Wrapper div.DTED_Lightbox_Content div.DTED_Lightbox_Close:hover {
  background-color: #092079;
  box-shadow: 2px 2px 9px #111;
}

div.DTED_Lightbox_Background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  /* Fallback */
  background: -ms-radial-gradient(center, ellipse farthest-corner, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 100%);
  /* IE10 Consumer Preview */
  background: -moz-radial-gradient(center, ellipse farthest-corner, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 100%);
  /* Firefox */
  background: -o-radial-gradient(center, ellipse farthest-corner, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 100%);
  /* Opera */
  background: -webkit-gradient(radial, center center, 0, center center, 497, color-stop(0, rgba(0, 0, 0, 0.3)), color-stop(1, rgba(0, 0, 0, 0.7)));
  /* Webkit (Safari/Chrome 10) */
  background: -webkit-radial-gradient(center, ellipse farthest-corner, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 100%);
  /* Webkit (Chrome 11+) */
  background: radial-gradient(ellipse farthest-corner at center, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 100%);
  /* W3C Markup, IE10 Release Preview */
  z-index: 10;
}
div.DTED_Lightbox_Background > div {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}
div.DTED_Lightbox_Background > div:not([dummy]) {
  filter: progid:DXImageTransform.Microsoft.gradient(enabled='false');
}

body.DTED_Lightbox_Mobile div.DTED_Lightbox_Background {
  height: 0;
}
body.DTED_Lightbox_Mobile div.DTED_Lightbox_Shown {
  display: none;
}
body.DTED_Lightbox_Mobile div.DTED_Lightbox_Wrapper {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: auto;
  height: auto;
  margin-left: 0;
  -webkit-overflow-scrolling: touch;
}
body.DTED_Lightbox_Mobile div.DTED_Lightbox_Wrapper div.DTED_Lightbox_Container {
  display: block;
}
body.DTED_Lightbox_Mobile div.DTED_Lightbox_Wrapper div.DTED_Lightbox_Container div.DTED_Lightbox_Content_Wrapper {
  display: block;
}
body.DTED_Lightbox_Mobile div.DTED_Lightbox_Wrapper div.DTED_Lightbox_Container div.DTED_Lightbox_Content_Wrapper div.DTED_Lightbox_Content {
  border: 4px solid rgba(220, 220, 220, 0.5);
  border-radius: 0;
}
body.DTED_Lightbox_Mobile div.DTED_Lightbox_Wrapper div.DTED_Lightbox_Container div.DTED_Lightbox_Content_Wrapper div.DTED_Lightbox_Content div.DTE {
  border-radius: 0;
  box-shadow: 0 0 5px #555;
  border: 2px solid #444;
}
body.DTED_Lightbox_Mobile div.DTED_Lightbox_Wrapper div.DTED_Lightbox_Container div.DTED_Lightbox_Content_Wrapper div.DTED_Lightbox_Content div.DTE div.DTE_Header {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
body.DTED_Lightbox_Mobile div.DTED_Lightbox_Wrapper div.DTED_Lightbox_Container div.DTED_Lightbox_Content_Wrapper div.DTED_Lightbox_Content div.DTE div.DTE_Footer {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
body.DTED_Lightbox_Mobile div.DTED_Lightbox_Wrapper div.DTED_Lightbox_Container div.DTED_Lightbox_Content_Wrapper div.DTED_Lightbox_Content div.DTED_Lightbox_Close {
  top: 11px;
  right: 15px;
}

@media only screen and (max-width: 780px) {
  div.DTED_Lightbox_Wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin-left: 0;
  }
}

/*# sourceMappingURL=lightbox.css.map */
