<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings xdt:Transform="Replace">
    <add name="DefaultConnection" connectionString="Data Source=sapdbaut001.tollgroup.local;Initial Catalog=DCT_Mangement;User ID=tgfdataserv;Password=yoj829IE" providerName="System.Data.SqlClient"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="TGF_IntegrationEntities" connectionString="metadata=res://*/EF.TGF_Integration.csdl|res://*/EF.TGF_Integration.ssdl|res://*/EF.TGF_Integration.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SAPDBAUT001.tollgroup.local;initial catalog=TGF_Integration;persist security info=True;user id=tgfdataserv;password=yoj829IE;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="TGFDWEntities" connectionString="metadata=res://*/EF.TGFDW.csdl|res://*/EF.TGFDW.ssdl|res://*/EF.TGFDW.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=icndbaud001.tollgroup.local;initial catalog=TGFDW;persist security info=True;user id=tgficon;password=P@ssw0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="DI_UATEntities" connectionString="metadata=res://*/EF.DI_UAT.csdl|res://*/EF.DI_UAT.ssdl|res://*/EF.DI_UAT.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SAPDBAUT002.tollgroup.local;initial catalog=TGF_DS_REPO;persist security info=True;user id=tgfdataserv;password=yoj829IE;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="DI_WK_TEMPEntities" connectionString="metadata=res://*/EF.DI_WK_TEMP.csdl|res://*/EF.DI_WK_TEMP.ssdl|res://*/EF.DI_WK_TEMP.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SAPDBAUT001.tollgroup.local;initial catalog=DI_WK_TEMP;persist security info=True;user id=tgfdataserv;password=yoj829IE;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="ConsoleServerStatus.Properties.Settings.TGF_IntegrationConnectionString"  connectionString="Data Source=SAPDBAUT001.tollgroup.local;Initial Catalog=TGF_Integration;User ID=tgfdataserv;Password=yoj829IE"  providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="DCT_MangementEntities" connectionString="metadata=res://*/EF.DCT_Mangement.csdl|res://*/EF.DCT_Mangement.ssdl|res://*/EF.DCT_Mangement.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sapdbaut001.tollgroup.local;initial catalog=DCT_Mangement;persist security info=True;user id=tgfdataserv;password=yoj829IE;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  <appSettings xdt:Transform="Replace">
    <add key="DTCserver" value="SAPDBAUT001" />
    <add key="CW1server" value="TAPDBCND01.TOLLGROUP.LOCAL" />
    <add key="TGFDWserver" value="TGFDW" />
    <add key="owin:AutomaticAppStartup" value="true" />
    <add key="owin:AppStartup" value="Core.Identity.Startup,Core.Identity" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="connectUAT" value="\\sapdiaut001.tollgroup.local\di" />
    <add key="connectUATUser" value="tollgroup\seanwec" />
    <add key="connectUATPass" value="Abcd1234" />
    <add key="connectPROD" value="\\sapdiaup002.tollgroup.local\di" />
    <add key="connectPRODUser" value="tollgroup\tgfdisvc" />
    <add key="connectPRODPass" value="Abcd1234" />
    <add key="LogPathPROD" value="\\sapdiaup002.tollgroup.local\c$\" />
    <add key="LogPathUAT" value="\\sapdiaut001.tollgroup.local\c$\" />
    <add key="connectListenerUAT" value="\\sapdiaut002.tollgroup.local\di\UAT\GlobalIntegration" />
    <add key="connectListenerPROD" value="\\sapdiaup004.tollgroup.local\di\PROD\GlobalIntegration" />
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>