<?xml version="1.0" encoding="utf-8"?>

<!-- 有关使用 web.config 转换的详细信息，请访问 http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=tapdbcnp05.tollgroup.local;Initial Catalog=DCT_Mangement;User ID=sa;Password=yoj829IE" providerName="System.Data.SqlClient"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="TGF_IntegrationEntities" connectionString="metadata=res://*/EF.TGF_Integration.csdl|res://*/EF.TGF_Integration.ssdl|res://*/EF.TGF_Integration.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tapdbcnp05.tollgroup.local;initial catalog=TGF_Integration;persist security info=True;user id=sa;password=yoj829IE;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="TGFDWEntities" connectionString="metadata=res://*/EF.TGFDW.csdl|res://*/EF.TGFDW.ssdl|res://*/EF.TGFDW.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tapdbcnp06.tollgroup.local;initial catalog=TGFDW;persist security info=True;user id=tgficon;password=P@ssw0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="DI_UATEntities" connectionString="metadata=res://*/EF.DI_UAT.csdl|res://*/EF.DI_UAT.ssdl|res://*/EF.DI_UAT.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tapdbcnp04;initial catalog=DI;persist security info=True;user id=sa;password=yoj829IE;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="DI_WK_TEMPEntities" connectionString="metadata=res://*/EF.DI_WK_TEMP.csdl|res://*/EF.DI_WK_TEMP.ssdl|res://*/EF.DI_WK_TEMP.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tapdbcnp05.tollgroup.local;initial catalog=DI_WK_TEMP;persist security info=True;user id=sa;password=yoj829IE;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="EnterpriseEntities" connectionString="metadata=res://*/EF.ENTERPRISE.csdl|res://*/EF.ENTERPRISE.ssdl|res://*/EF.ENTERPRISE.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=EDIDBAUPVC03.tollgroup.local\TGFGLB01;initial catalog=Enterprise;persist security info=True;user id=DI_INTEGRATOR;password=yoj829IE;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="ConsoleServerStatus.Properties.Settings.TGF_IntegrationConnectionString"  connectionString="Data Source=tapdbcnp05.tollgroup.local;Initial Catalog=TGF_Integration;User ID=tgf_bim;Password=ka1368tt"  providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="DCT_MangementEntities" connectionString="metadata=res://*/EF.DCT_Mangement.csdl|res://*/EF.DCT_Mangement.ssdl|res://*/EF.DCT_Mangement.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tapdbcnp05;initial catalog=DCT_Mangement;persist security info=True;user id=tgf_bim;password=ka1368tt;MultipleActiveResultSets=True;App=EntityFramework&quot;"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  <appSettings xdt:Transform="Replace">
    <add key="DTCserver" value="tapdbcnp05.tollgroup.local" />
    <add key="CW1server" value="TAPDBCNP01.TOLLGROUP.LOCAL" />
    <add key="TGFDWserver" value="TAPDBCNP06.TOLLGROUP.LOCAL" />
    <add key="owin:AutomaticAppStartup" value="true" />
    <add key="owin:AppStartup" value="Core.Identity.Startup,Core.Identity" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="connectUAT" value="\\10.250.80.65\di" />
    <add key="connectUATUser" value="baltrans\admin.di" />
    <add key="connectUATPass" value="ka1368tt" />
    <add key="connectPROD" value="\\10.250.240.35\di" />
    <add key="connectPRODUser" value="tollgroup\tgfdisvc" />
    <add key="connectPRODPass" value="Abcd1234" />
    <add key="LogPathPROD" value="\\10.250.240.35\c$\" />
    <add key="LogPathUAT" value="\\10.250.80.65\c$\" />
    <add key="connectListenerUAT" value="\\10.250.240.193\di\UAT\GlobalIntegration" />
    <add key="connectListenerPROD" value="\\10.250.240.193\di\PROD\GlobalIntegration" />
  </appSettings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    
    <!--
      
      在下例中，“Replace”转换将替换 
      web.config 文件的整个 <customErrors> 节。
      请注意，由于 
      在 <system.web> 节点下仅有一个 customErrors 节，因此不需要使用“xdt:Locator”特性。
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>