<?xml version="1.0" encoding="utf-8"?>

<!-- 有关使用 Web.config 转换的详细信息，请访问 http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=tapdbcnp05.tollgroup.local;Initial Catalog=DCT_Mangement;User ID=sa;Password=yoj829IE" providerName="System.Data.SqlClient"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="TGF_IntegrationEntities" connectionString="metadata=res://*/EF.TGF_Integration.csdl|res://*/EF.TGF_Integration.ssdl|res://*/EF.TGF_Integration.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tapdbcnp05.tollgroup.local;initial catalog=TGF_Integration;persist security info=True;user id=sa;password=yoj829IE;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="TGFDWEntities" connectionString="metadata=res://*/EF.TGFDW.csdl|res://*/EF.TGFDW.ssdl|res://*/EF.TGFDW.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tapdbcnp06.tollgroup.local;initial catalog=TGFDW;persist security info=True;user id=icon_app;password=LZ5P0u$^xA9h;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="DI_UATEntities" connectionString="metadata=res://*/EF.DI_UAT.csdl|res://*/EF.DI_UAT.ssdl|res://*/EF.DI_UAT.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tapdbcnp04;initial catalog=DI;persist security info=True;user id=sa;password=yoj829IE;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  -->
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      在以下示例中，"Replace" 转换将替换 Web.config 文件的
      整个 <customErrors> 节。
      请注意，由于在 <system.web> 节点下只有一个
       customErrors 节，因此无需使用 "xdt:Locator" 属性。

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>
